<h1 mat-dialog-title>Yeni Kategori Ekle</h1>
<div mat-dialog-content>
  <form [formGroup]="addForm">
    <mat-form-field appearance="outline">
      <mat-label>Kategori</mat-label>
      <input formControlName="categoryName" matInput placeholder="Kategori Adı">
    </mat-form-field>

  </form>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="addCategory()" >Ekle</button>
  <button mat-raised-button color="warn" id="closeCategoryDialog" mat-dialog-close>Kapat</button>
  </div>

